<a href="https://colab.research.google.com/github/MajorAshok/object-oriented-program/blob/main/OOPsPrograms.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

***Creating class and object in Python***

In [ ]:
# Program to check the inputed no. Is positive or negative
num=int(input("Enter a number: "))
if num==0:
    print("Number is zero")
elif num>0:
    print("Number is positive ")
else:
    print("Number is negative")

Enter a number: -5
Number is negative

In [ ]:
class A:
  Name = "Ashok"
obj1=A()
print(obj1.Name)

Ashok

In [ ]:
class A :
   def Add(self, a, b) :
       return(a+b)
obj =A()
C=obj.Add(int(input("No.1 ")), int(input("No.2 ")))
print(C)

No.1 30
No.2 40
70

In [ ]:
class A:
  def Add(self, a, b):
    print(a+b)
obj1=A()
obj1.Add(51, 36)

87

In [ ]:
class A:
  a=20
  b=30
  def Add(self, a):
      print(self.a)
      print(a)

obj1=A()
obj1.Add(30)

20
30

In [ ]:
class formula:
      def calc(self, a, b):
          return(a*a+b*b+int(2)*a*b)
obj=formula()
C=obj.calc(int(input("No.1 ")), int(input("No.2 ")))
print(C)

No.1 9
No.2 3
144

***CONSTRUCTOR:***
    **Default constructor**

In [ ]:
class A:
    name=""
    def __init__(self):
        print("Constructor called")
        self.name="Ram"
    def show(self):
        print(f'Name:{self.name}')
obj=A()
obj. show()

Constructor called
Name:Ram

**Paramaterized constructor**

In [ ]:
# simple Intrest calculator(paramatrized constructor):
class Account:
     SI=""
     def __init__(self,p, r, t) :
         self. SI=p*r*t/100
     def show(self):
         print(f' Simple intrest is:{self.SI}')
obj=Account(1000,10,1)
obj.show()

 Simple intrest is:100.0

In [ ]:
#03. Area and perimeter of rectangle
class Rectangle:
   def area(self,length,width):
       Area=length*width
       print(f'Area of rectangle is: {Area}')
   def peri(self,length,width):
       perimeter=2*(length+width)
       print(f'Perimeter of rectangle is: {perimeter}')
obj1=Rectangle()
peri=obj1.peri(int(input("Enter length: ")),int(input("Enter width: ")))
print(peri)

Enter length: 4
Enter width: 5
Perimeter of rectangle is: 18
None

In [ ]:
#04. Temperature Converter
class tempconverter:
   formula=""
   def celcius(self,F):
       self.formula=(F-32)*5/9
       print(f'{F} fahrenheit in degree celcius is -- {self.formula}')
   def ferenhite(self,C):
       self.formula=(C*9/5)+32
       print(f'{C} degree celcius in fahrenheit is: {self.formula}')

obj2=tempconverter()
obj2.ferenhite(37)
obj2.celcius(98)

37 degree celcius in fahrenheit is: 98.6
98 fahrenheit in degree celcius is -- 36.666666666666664

In [ ]:
#05. Depositing And Withdrawing Money
class bankaccount:
   Ammount=""
   def deposite(self):
       self.Ammount=int(input("Your Ammount "))
       print(f'{self.Ammount}₹ has been deposited in your bank account.')
   def withdraw(self):
       self.Ammount=int(input("Your Ammount "))
       print(f'{self.Ammount}₹ has been withdrawn from your bank account.')
obj3=bankaccount()
obj3.deposite()
obj3.withdraw()

Your Ammount 45
45₹ has been deposited in your bank account.
Your Ammount 32
32₹ has been withdrawn from your bank account.

In [ ]:
#06. Caclulating Area and circumfrence of circle.
class circle:
   def area(self,radius):
       self.area=3.14*radius*radius
       print(f'Area of circle is: {self.area}')
   def circu(self,radius):
       self.circum=2*3.14*radius
       print(f'Circumference of circle is: {self.circum}')
objt=circle()
radius=int(input("Enter radius: "))
objt.area(radius)
objt.circu(radius)

Enter radius: 4
Area of circle is: 50.24
Circumference of circle is: 25.12

In [ ]:
#07. Calculate the average grade:
class Student:
    def __init__(self, name, marks):
        self.name = name
        self.marks = marks

    def calculate_average(self):
        total_marks = sum(self.marks)
        number_of_subjects = len(self.marks)
        average = total_marks / number_of_subjects
        return average

# Example usage
student = Student("Aarav", [85, 90, 78, 92, 88])
average_grade = student.calculate_average()
print(f"{student.name}'s average grade is: {average_grade:.2f}")

Aarav's average grade is: 86.60

In [ ]:
#8. Time convertor
class timeconv:
    def __init__(self,hour,minute):
        self.hour=hour
        self.minute=minute
    def HtoM(self):
        print(f'{self.hour}h:{self.minute}m in minute is: {int(self.hour)*60+self.minute} minute')
    def MtoH(self):
        print(f'{self.hour}h:{self.minute}m in Hour is: {int(self.minute)/60+self.hour} hour')
obj=timeconv(3,45)
obj.MtoH()
obj.HtoM()

3h:45m in Hour is: 3.75 hour
3h:45m in minute is: 225 minute

In [ ]:
#09. loan calculator:
class loancalculator:
  def __init__(self,principal,rate,time):
      self.principal=int(principal)
      self.rate=int(rate)/12  # r is annual to convert it as monthly rate we have to devide it 12.
      self.time=int(time)*12  # no. of payment per month.
  def __str__(self):
      return f'MOnthly loan you have to pay is: {int(self.principal*self.rate*(1+self.rate)**self.time/(1+self.rate)**(self.time-1))}'
MOnthly=loancalculator(input("Enter Your Priniciple ammount: "),input("Enter annual rate: "),input("Enter time: "))
print(MOnthly)

Enter Your Priniciple ammount:  45
Enter annual rate: 54
Enter time: 4
MOnthly loan you have to pay is: 1113

In [ ]:
#10. Calculating salary;
class salarycalculator:
  def __init__(self,basic):
      self.basic=int(basic)
  def Allowances(self,HRA,TA,MA):
      self.HRA=int(HRA)
      self.TA=int(TA)
      self.MA=int(MA)
  def deductions(self,Taxes,PF,LIC):
      self.Taxes=int(Taxes)
      self.PF=int(PF)
      self.LIC=int(LIC)
  def __str__(self):
      return f'Your salary is: {self.basic+self.HRA+self.TA+self.MA-self.Taxes-self.PF-self.LIC}'
EmployeeSalary=salarycalculator(int(input("Enter your basic salary: ")))
EmployeeSalary.Allowances(int(input("Enter HRA: ")),int(input("Enter TA: ")),int(input("Enter MA: ")))
EmployeeSalary.deductions(int(input("Enter Taxes: ")),int(input("Enter PF: ")),int(input("Enter LIC: ")))
print(EmployeeSalary)

Enter your basic salary: 50000
Enter HRA: 2000
Enter TA: 1050
Enter MA: 1200
Enter Taxes:  119
Enter PF: 700
Enter LIC: 650
Your salary is: 52781

***Object As A String:***

In [ ]:
class person:
  def __init__(self, name, dob) :
        self.name=name
        self. dob=dob
P1=person('Ram', '9/03/1982')
print(P1) # this will give object refrence

<__main__.person object at 0x797ec255d210>

In [ ]:
# To use object as string __str__ methode :
class person:
     def __init__(self, name, dob) :
         self. name=name
         self.dob=dob
     def __str__(self):
         return f'Name: {self.name}, Date of Birth: {self.dob}'
P1=person ('Ram', '9/03/1982')
print(P1)

Name: Ram, Date of Birth: 9/03/1982

***Use of del function :***

In [ ]:
# Employee Detail.
class Employee:
  def __init__(self,name,ID,Salary):
    self.name=name
    self.ID=ID
    self.Salary=Salary
  def __str__(self):
    return f' Name: {self.name}, ID: {self.ID}, Salary: {self.Salary}\n'
Employee1=Employee('Ashok','1031','10000000')
Employee2=Employee('Natnagar','1004','100000')
Employee3=Employee('Ishant','1003','100000')
print(Employee1)
print(Employee2)
print(Employee3)
# del Employee.ID
#print(Employee1)

 Name: Ashok, ID: 1031, Salary: 10000000

 Name: Natnagar, ID: 1004, Salary: 100000

 Name: Ishant, ID: 1003, Salary: 100000

In [ ]:
  # Factorial program using class and object:
class Factorial:
    fact=""
    def __init__(self,n):
      self.fact=1
      for i in range(1,n+1):
        self.fact=self.fact*i
    def __str__(self):
      return f'factorial of {n} is:{self.fact}'
n=int(input("Enter a number: "))
obj=Factorial(n)
print(obj)

Enter a number: 3
factorial of 3 is:6

**Deleting objects & it attributes**

In [ ]:
class A:
   X=10
   y=20
obj=A()
print(obj.X)
del obj.y

10

AttributeError: 'A' object has no attribute 'y'

**Destructor:** '__del__' methode is used.

In [ ]:
class A:
    def __init__(self):
        print('Constructor is called')
    def __del__(self) :
        print('Destructor is called')
obj4=A()
obj5=A()
del obj5, obj4

Constructor is called
Constructor is called
Destructor is called
Destructor is called

**Array Of Objects**

In [ ]:
class Person:
    def __init__(self, name,rollno):
        self.rollno=rollno
        self.name=name
Lst=[]
Lst.append(Person('Ram', 1001))
Lst. append(Person('John', 1002))
Lst. append(Person('Smith', 1003))
print(Lst[0].name)
print(Lst[1].name)
print(Lst[2].rollno)

Ram
John
1003

**Array of object X object as string**

In [ ]:
class Student:
  def __init__(self,Name,ID,SGPA):
    self.name=Name
    self.ID=ID
    self.SGPA=SGPA
  def __str__(self):
    return f'Name: {self.name}, ID: {self.ID}, SGPA: {self.SGPA}\n'
Lst=[]
Lst.append(Student('Ashok', 1001, 9.5))
Lst.append(Student('Natnagar', 1002, 9.0))
Lst.append(Student('Ishant', 1003, 8.5))
print(Lst[0].name)
print(Lst[1].name)
print(Lst[2].name)
print()
print(Lst[0])
print(Lst[1])
print(Lst[2])

Ashok
Natnagar
Ishant

Name: Ashok, ID: 1001, SGPA: 9.5

Name: Natnagar, ID: 1002, SGPA: 9.0

Name: Ishant, ID: 1003, SGPA: 8.5

In [ ]:
a=10
b=a
a=30
print(a)
print(b)

30
10

In [ ]:
class A:
    def show(msg) :
        return msg
#A. Show =staticmethod(A.show)
print(A.show('Hello'))

Hello

In [ ]:
class A:
    def disp(self) :
        print('hello')
    @staticmethod
    def show(self) :
        print(self)
A1=A()
A1.disp()
A.show(11)

hello
11

In [ ]:
class A:
   name='sam'

   def disp(msg) :
       print(msg, A.name)
obj=A()
A.disp('Hello')

Hello sam

In [ ]:
Cube=lambda n:n**3
print(Cube(3))

27

In [ ]:
lis=[1,2,3,4,5]
l1=list(map(lambda x:x**2, lis))
print(l1)

[1, 4, 9, 16, 25]

In [ ]:
lst=[1,2,3,4,5,6,7,8]
l2=list(filter(lambda x:x%2, lst))
print(l2)

[1, 3, 5, 7]

In [ ]:
class multiplicationTabel:
   def __int__(self, number,limit):
       self. number=number
       self. limit=limit
   def display(self) :
       return f'\n Multiplication of {self.number} up to {self.limit}: \n'
       for i in range(1, self.limit+1) :
           print(f'{self.number} * {i}={self.number*i}\n')
num=int(input('Enter your number'))
Limit=int(input('Enter your limit'))
Tabel=multiplicationTabel()
Tabel. display ()

Enter your number6
Enter your limit9

AttributeError: 'multiplicationTabel' object has no attribute 'number'

In [ ]:
class student:
   def __init__(self, name, rollno, marks) :
       self.name=name
       self.rollno=rollno
       self.marks=marks
   def display(self) :
       print(f'Name:{self.name}')
       print(f'Rollno:{self.rollno}')
       print(f'Marks:{self.marks}')
Obj=student ("Ashok","1031","89")
Obj. display ()

Name:Ashok
Rollno:1031
Marks:89

In [ ]:
def show(a):
    a=100
a=50
print(a)
show(a)
print(a)

50
50

In [ ]:
print(int('101', 2))
print(bin(45))

5
0b101101

In [ ]:

for i in range(2, 11):
    if i%2==2:
       Even = []
       Even.append(i)
    print(Even)

NameError: name 'Even' is not defined

In [ ]:
class bank:
    def __init__(self,deposit):
        self.deposit=deposit
    def total_amount(self):
        return self.deposit
class person:
    def __init__(self,name, deposit):
        self.name=name
        self.bank_obj=bank(deposit)

    def display(self):
        print(self.name)
        return self.bank_obj.total_amount()
amount=person('Ashok', 15000)
print(amount.display())

Ashok
15000

In [ ]:
class triseries:
    def series(self):
        series=[]
        for i in range(1,6):
            series.append(int(i*(i+1)/2))
        return series
    #def show(self):
        #series=[]
        #print(series.append(item))
obj=triseries()
print(obj.series())

[1, 3, 6, 10, 15]