In [2]:
import socket
server_socket=socket.socket(socket.AF_INET,socket.SOCK_STREAM)
host='127.0.0.1'
port=12345
server_socket.bind((host,port))
server_socket.listen(1)
print(f"Server listening on {host}: {port}...")
client_socket, addr = server_socket.accept()
print(f"Connected to {addr}")
data=client_socket.recv(1024).decode()
print(f"Received from client: {data}")
client_socket.send("Hello from server!".encode())
client_socket.close()
server_socket.close()

Server listening on 127.0.0.1: 12345...
Connected to ('127.0.0.1', 50532)
Received from client: Hello from client!

In [3]:
import mysql.connector

In [5]:
# Step 1: Establish Connection 
conn = mysql.connector.connect(host="localhost",user="Major_Ashok",password="12345",database="college")
# Step 2: create a cursor 
cursor = conn.cursor()

DatabaseError: 2003 (HY000): Can't connect to MySQL server on 'localhost:3306' (10061)